input {
  display: none;
}

section > div {
  display: none;
}

#radio-section-intro:checked ~ #section-intro > div {
  display: block;
}

#radio-section-previous-exp:checked ~ #section-previous-exp > div {
  display: block;
}

#radio-section-education:checked ~ #section-education > div {
  display: block;
}