input {
  display: none;
}

h2 {
  font-family: 'Libre Baskerville', serif;
  align-content: center;
}

section {
  padding: 30px;
}


section > div {
  display: none;
}

#radio-section-intro:checked ~ #section-intro > div {
  display: block;
}

#radio-section-previous-exp:checked ~ #section-previous-exp > div {
  display: block;
}

#radio-section-education:checked ~ #section-education > div {
  display: block;
}

#radio-section-volunteering:checked ~ #section-volunteering > div {
  display: block;
}

body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vmin;
  height: 80vmin;
  margin-left: auto;
  margin-right: auto;
  background-color: #ebf2fa;
  font-family: 'Libre Franklin', sans-serif;
  font-size: large;
}

#section-intro {
  background-color: #ebf2fa;
}

#intro {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#intro > img {
  height: 300px;
  border-radius: 10%;
}

#section-previous-exp {
  background-color: #05668D;
  color: #ebf2fa;
}

.carousel-viewport {
  display: flex;
  list-style: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
  counter-reset: item;
  scroll-snap-type: x mandatory;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
  padding-inline-start: unset;
}

.carousel-slide {
  display: flex;
  flex-shrink: 0;
  scroll-snap-align: start;
  width: 100%;
  justify-content: space-between;
}

#section-education {
  background-color: #86A91B;
}

#section-volunteering {
  background-color: #F5D547;
}

.carousel-slide > .carousel-nav {
  color: #fff;
  font-size: 2rem;
  outline: 0;
  align-self: center;
}

.carousel-slide > .next {
  text-align: right;
}

.carousel-slide > div {
  flex-basis: 90%;
}

.carousel-slide > .prev {
  text-align: left;
}

.experience-place-heading {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 2rem;
}

.experience-role {
  margin-top: 2rem;
}

.experience-role > time {
  opacity: 50%;
}

.experience-role > ul {
  margin-top: 1rem;
}
